/* booking.css */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applique l'animation à tous les éléments de la page */
body {
    animation: fadeIn 1s ease-out;
}
/* Formulaire de réservation */
.booking-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 20px auto;
    margin-top: 65px;
    max-width: 800px;
    animation: fadeIn 1.5s ease-out;
}

.booking-form h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
}

.booking-form .form-control {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.booking-form .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.booking-form textarea {
    resize: vertical; /* Permet de redimensionner verticalement */
}

.form-control button{
    color: #0078FF;
}



.booking-form button {
    background-color:  #444; /* Changer la couleur du bouton en noir */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.booking-form button:hover {
    background-color: black; /* Une couleur plus claire pour le hover */
}







/* Style pour le datepicker */
.datepicker-container {
    position: relative;
}

.datepicker {
    background-color: #f8f9fa;
    cursor: pointer;
}

.calendar-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

/* Style pour le calendrier Flatpickr */
.flatpickr-calendar {
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.flatpickr-day.selected, .flatpickr-day.selected:hover {
    background: #1977cc;
    border-color: #1977cc;
}

.flatpickr-day.today {
    border-color: #1977cc;
}

.flatpickr-day.today:hover {
    background: #e6f0fb;
    border-color: #1977cc;
}

.flatpickr-months .flatpickr-month {
    background: #1977cc;
    color: white;
    fill: white;
    border-radius: 8px 8px 0 0;
}

.flatpickr-weekdays {
    background: #f8f9fa;
}

.flatpickr-weekday {
    color: #495057;
}