@import url('https://fonts.googleeapis.com/css2?family=Poppins;wght@100;300;400;500;600&display=swap');

*{

    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    

}
body {
	background-color:rgb(224, 223, 222);
}

header {
	background: linear-gradient(to right, #00093c, #2d0b00);
	box-shadow: 0 2px 4px rgb(0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
nav{
    padding: 24px 0;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.logo h3{
    width: 150px ;
    font-size: 33px;
    cursor:pointer;
    color: #fff;;
}
.nav-links{
    display: flex;
    flex:1;
    align-items:center;
}
.nav-links a{
margin-left: 36px;
text-decoration: none;
color:#fff;
}
.nav-links a:hover{
    background-color:#333;
    padding: 11px;
}
.nav-links{
    display: flex;
    flex:1;
    align-items:center;
}
.container{
display: flex;
justify-content: center;
align-items: center;
padding:25px;
min-height: 100vh;
background:rgb(224, 223, 222) ;

}
.container form{
    padding: 20px;
    width: 700px;
    background:#fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px ;

}
.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container form .row .col .inputbox{
    margin: 15px 0;
}
.container form .row .col .inputbox span{
    margin-bottom: 5px;
    display: block;
}
.container form .row .col .inputbox {
    margin-bottom: 10px;
    display: block;
}
.container form .row .col .inputbox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: none;
}
.container form .row .col .inputbox input:focus{
    border: 1px solid #000;

}
.container form .row .col .flex{
    display: flex;
    gap: 15px;
}
.container form .row .col .flex .inputbox{
    margin-top: 5px;

}
.container form .row .col .inputbox img{
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);

}
.container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background:linear-gradient(to right, #00093c, #2d0b00) ;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.container form .submit-btn:hover{
    background: linear-gradient(to right, #00093c, #2d0b00);
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.roww{
    width: 85%;
    margin: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}
.coll{
    flex-basis: 25%;
    padding: 10px;
}
.coll h3{
    width: fit-content;
    margin-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;

}
ul li a{
    text-decoration: none;
    color: #fff;

}
.coll form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.coll form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

}
.coll form button{
    background:transparent;
    border:0;
    outline: none;
    cursor:pointer;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;

}


