@import url('https://fonts.googleeapis.com/css2?family=Poppins;wght@100;300;400;500;600&display=swap');
*{

    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body {
	background-color:rgb(224, 223, 222);
}
header {
	background: linear-gradient(to right, #00093c, #2d0b00);
	box-shadow: 0 2px 4px rgb(0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
nav{
    padding: 24px 0;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.logo h3{
    width: 150px ;
    font-size: 33px;
    cursor:pointer;
    color: #fff;;
}
.nav-links{
    display: flex;
    flex:1;
    align-items:center;
}
.nav-links a{
margin-left: 36px;
text-decoration: none;
color:#fff;
}
.nav-links a:hover{
    background-color:#333;
    padding: 11px;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

}
.contact .heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.contact .heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color:#2d0b00;
}
.containerr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerr .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.containerr .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerr .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.containerr .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.containerr .contactinfo .box .text h3{
    font-weight: 700;
    color: linear-gradient(to right, #00093c, #2d0b00);

}
.contactfrom{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactfrom h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactfrom .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactfrom .inputbox input,
.contactfrom .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactfrom .inputbox span{
    position: absolute;
    left:0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactfrom .inputbox input:focus ~ span,
.contactfrom .inputbox input:valid ~ span,
.contactfrom .inputbox textarea:focus ~ span,
.contactfrom .inputbox textarea:valid ~ span{
   color: #e91e63;
   font-size: 12px;
   transform: translateY(-20px);
}
.contactfrom .inputbox input[type="submit"]{
    width: 100px;
    background:linear-gradient(to right, #00093c, #2d0b00) ;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.roww{
    width: 85%;
    margin: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
col h3{
    width: fit-content;
    margin-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;

}
ul li a{
    text-decoration: none;
    color: #fff;

}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

}
.col form button{
    background:transparent;
    border:0;
    outline: none;
    cursor:pointer;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;

}

	






