body{

background-color: bisque;
}
.container{
    width: 80%px;
    margin: 0px auto;
    padding:50px;
}
.grid{
display:grid  ;
grid-template-columns: repeat(3,1fr);
grid-gap:25px;
}
.Product img {
width: 100%;
height: auto;
border-radius: 8px;
margin-bottom : 10px;
} 
